@import "../../../styles/variables.scss";

.articles {
  background-color: $bg-light-alt;
}
.white {
  background-color: $bg-light;
}
.title {
  margin-bottom: $space-l;
}
.subtitle {
  margin-bottom: $space-xl;
  max-width: $text-max-width;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
  margin-bottom: $space-xl;
}
.more {
  text-decoration: none;
  border-bottom: 2px solid $primary-color;
  padding-bottom: $space-xs;
  font-weight: 600;
}
