@import "../../styles/variables.scss";

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.15);
  .img-wrap {
    width: 100%;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }
  .text-wrap {
    background-color: $bg-light;
    padding: $space-m;
    height: 100%;
    .title {
      margin-bottom: $space-s;
      font-size: $font-m;
    }
    .date {
      margin-bottom: $space-xs;
      font-size: $font-s;
    }
    .author {
      margin-top: 0;
    }
  }
}
