@import "../../styles/variables.scss";

.layout {
  width: calc(100% - 2 * $space-s);
  max-width: $container-width;
  min-height: 100vh;
  margin: 0 auto;
  padding: $space-xl $space-s;
  background-color: $bg-light;
}
