@import "/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;
  color: $font-dark;
  font-size: $font-m;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: $h1;
  line-height: 0.9;
}
h2 {
  font-size: $h2;
  line-height: 1;
}
h3 {
  font-size: $h3;
  line-height: 1.1;
}
h4 {
  font-size: $h4;
  line-height: 1.2;
}
h5 {
  font-size: $h5;
  line-height: 1.3;
}
h6 {
  font-size: $h6;
  line-height: 1.4;
}

#root {
  display: flex;
  flex-direction: column;
}
